<h3>Detailed information</h3>

<h4>Flights</h4>
<span><i class="fa fa-plane"></i>Departure at 06:00 h 16/10/2015 with EasyJet</span>
<span><i class="fa fa-plane plane-to"></i>Arrival at 20:30 on 20/10/2015 with Ryanair</span>

<h4>Hotel</h4>
<span><i class="fa fa-building-o"></i>Hamburg Mitte</span>
<span><i class="fa fa-calendar"></i>Check in 17/10/2015</span>
<span><i class="fa fa-calendar"></i>Check out 17/10/2015</span>
<span><i class="fa fa-chain"></i>Cancellation policies:</span>
<ul>
    <li></li>
</ul>

<h4>Event</h4>
<span><i class="fa fa-ticket"></i>THack Hamburg 2015</span>
<span><i class="fa fa-calendar"></i>From 17/10/2015</span>
<span><i class="fa fa-calendar"></i>to 19/10/2015</span>

<h4>Weather at destination</h4>