<!DOCTYPE html>
<html>
<head>
	<title>Hello Template</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css"></link>
	<link rel="stylesheet" type="text/css" href="/vendor/css/commons.css"></link>
	<link rel="shortcut icon" href="/vendor/favicon.ico" type="image/x-icon" />
</head>
<body>
	<h3>Welcome to Template Service!</h3>
	<script src="/vendor/jquery-ui/external/jquery/jquery.js"></script>
	<script src="/vendor/jquery-ui/jquery-ui.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="/vendor/sockjs-0.3.4.js"></script>
	<script src="/vendor/stomp.js"></script>
	<script src="/vendor/index.js"></script>
</body>
</html>